/* Resetador CSS Básico */
*:not(i),
*::before:not(i),
*::after:not(i) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html, body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: optimizeSpeed;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.required {
    &::after {
        content: "*";
        color: #B82627;
        margin-left: 5px;
    }
}

label {
  margin: 0;
}

.button-primary {
   background-color: #B82627;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none;

    &:hover {
        background-color: #a12222;
    }
}

.button-secundary  {
    margin: 0 !important;
    border: 1px solid #B82627 !important;
    color: #B82627;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: none;

    &:hover {
        background-color: #a12222;
        color: white;

    }
}