body {
    background-color: #FFF4E8;
    display: flex;
    flex-direction: column;
}

main {
    padding: 50px;
    width: 100%;
    flex: 1;
}



h1 {
    font-size: 24px;
    color: #B82627;
}

p {
    font-size: 16px;
    color: #4B5563;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen{
    width: 100%;
}

form {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.inp-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp-row .form-group {
    width: 49%;
}

.inp-row input {
    width: 100%;
}

.buttons-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

button[type=submit]  {
    background-color: #B82627;
    color: white;
    border: none;
    padding: 7.5px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;

    &:hover {
        background-color: #a12222;
        color: white;

    }
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}