body {
    background-color: #FFF4E8;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.container {
    width: 480px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-size: 24px;
    margin: 0;
}

p {
    font-size: 16px;
    color: #4B5563;
    margin: 0;
}

.icon {
    width: 64px;
    height: 64px;
    padding: 0;
    font-size: 25px;
    background-color: #B82627;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.input-group {
    display: flex;
}

input[name=password],
input[name=password-repeat] {
    border-right: none;
}

#showPassword,
#showPassword-repeat {
    color: #9CA3AF;
    border: 1px solid #ced4da;
    border-left: none;
}

.separacao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #929497;
    margin-bottom: 20px;
}

.separacao span {
    height: 1px;
    flex: 1;
    background-color: #ced4da;
}

.error div {
    font-size: 14px;
    color: rgb(202, 30, 30);

    &::before {
        content: "* ";
    }
}


@media (max-width: 425px) {
    body {
        padding: 0px;
    }

    .container {
        width: 90%;
        padding: 25px;
    }
}