main {
    margin-top: 35px;
}

h1 {
    font-weight: normal;
    font-size: 24px;
}

.search-cotainer {
    flex: 1;
    height: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 7.5px;
    overflow: hidden;
}

.search-cotainer i {
    color: #9CA3AF;
}

.search-cotainer input {
    border: none;
    outline: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;

    &::placeholder {
        color: #9CA3AF;
    }
}


#search-form-compra {
    display: flex;
    width: 100%;
}

#search-form-compra button {
    border-left: 1px solid #E5E7EB;
    padding-left: 10px;
    height: 100%;
}

.filters {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.dropdown-filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.compras-pagas.selected {
    background-color: lch(60.37% 67.42 143.57 / 0.253);
    color: #28A745;
}

.compras-pendentes.selected {
    background-color: #ffa60033;
    color: #FFA500;
}

.compras-todas.selected {
    background-color: #00ccff46;
    color: #00ccff;
}

.dropdown-container {
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.compras {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    width: 100%;

    margin-top: 20px;
    gap: 25px;
}

.compra {
    border: 1px solid #E5E7EB;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
}

.compra-header {
    display: flex;
    justify-content: space-between;
}

.informations-compra {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.compra-cod-container {
    font-weight: 600;
}

.compra-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.status {
    padding: 2.5px 10px;
    border-radius: 50px;
}

.paga {
    background-color: lch(60.37% 67.42 143.57 / 0.253);
    color: #28A745;
}

.pendente {
    background-color: #ffa60033;
    color: #FFA500;
}

.compra-detalhes {
    color: #B82627;
}

.compra-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.compra-body-information {
    width: fit-content;
}

.compra-title {
    color: #4B5563;
    font-size: 14px;
}

.pagination {
    justify-content: flex-end;
    margin-top: 25px;
}

.pagination .page-item .page-link {
    color: #4B5563;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item.active .page-link {
    background-color: #B82627 !important;
    border: none;
    color: white;
    box-shadow: none;
}

@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        gap: 10px;
    }

    .compra {
        padding: 10px;
    }

    .informations-compra {
        gap: 5px;
        flex-direction: column;
    }

    .compra-body {
        flex-direction: column;
        gap: 15px;
    }

}