<link rel="stylesheet" href="/frontend/assets/css/vendas/modal/style.css">

<div class="modal fade" id="completDescripionVendaModal" tabindex="-1" role="dialog"
    aria-labelledby="completDescripionVendaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="completDescripionVendaModalLabel">Descrição completa de Venda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="informations">
                    <div class="informations-user">
                        <div class="description-container container-description-account-name">
                            Nome Conta:
                            <div class="description-data" id="description-account-name">

                            </div>
                        </div>

                        <div class="description-container container-description-account-number">
                            Número Conta:
                            <div class="description-data" id="description-account-number">

                            </div>
                        </div>
                    </div>

                    <div class="informations-venda">
                        <div class="description-container container-description-data-venda">
                            Data da Venda:
                            <div class="description-data" id="description-data-venda">

                            </div>
                        </div>

                        <div class="description-container container-description-valor-total">
                            Valor total da compra:
                            <div class="description-data" id="description-valor-total">

                            </div>
                        </div>

                        <div class="description-container container-description-status">
                            Status da compra:
                            <div class="description-data" id="description-status">

                            </div>
                        </div>

                        <div class="description-container container-description-data-pagamento">
                            Data do Pagamento:
                            <div class="description-data" id="description-data-pagamento">

                            </div>
                        </div>

                        <div class="container-description-itens">
                            Itens Comprados:
                            <div id="description-itens">
                                <table class="description-item">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Nome</th>
                                            <th>Qtd.</th>
                                            <th>Valor Uni.</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody id="description-item-tbody">
                                        <!-- Adicionado por código -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>