<link rel="stylesheet" href="/frontend/assets/css/users/editModal/style.css">
<!-- Modal do Bootstrap -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="qrCodeLabel">Escaneie o QR Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div class="qrcode-container">
            <img id="qrCodeImage" src="" alt="QR Code" style="max-width: 100%;">
        </div>
        <div>
            Abra o WhatsApp e escaneie o QR Code acima;
        </div>
        <div>
            Apos conectar com o WhatsApp feche essa tela e tente enviar novamente;
        </div>
      </div>
    </div>
  </div>
</div>
