#edit-user-form {
    width: 100%;
}

#edit-user-form label {
    margin-bottom: 10px !important;
}

.users-selcted {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.users-selcted .user {
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #b8262670;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: #b82626;
        padding: 5px 30px 5px 20px;
    }

    &:hover::after {
        content: "X";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-weight: bold;
        font-size: 14px;
        background-color: transparent;
        pointer-events: none;
    }
}

.input-btn-container {
    display: flex;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.input-btn-container input,
.input-btn-container button {
    height: 100%;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 4px;
    margin: 5px;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.input-btn-container button {
    border-left: 1px solid #ccc;
}