.container {
    background-color: #FFF4E8;
    width: 100%;
    min-height: calc(100vh - 60px);
    max-width: none;
}

.table-container {
    margin: 24px 32px;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 42px;
}

.search-cotainer {
    width: 25%;
    height: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 14.5px;
    gap: 7.5px;
    overflow: hidden;

}

.search-cotainer i {
    color: #9CA3AF;
}

.search-cotainer input {
    border: none;
    outline: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;

    &::placeholder {
        color: #9CA3AF;
    }
}

.filters {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters .btn {
    height: 100%;
}

.btn-active {
  background-color: #D1FAE5; 
  color: #065F46;            
}

.btn-active.selected {
  background-color: #6EE7B7; 
  font-weight: bold;
}

.btn-no-count {
  background-color: #F1F5F9; 
  color: #374151;            
}

.btn-no-count.selected {
  background-color: #CBD5E1; 
  color: black;
}

.btn-all {
  background-color: #E0F2FE; 
  color: #1E3A8A;            
}

.btn-all.selected {
  background-color: #60A5FA; 
  color: white;
  font-weight: bold;
}

/* Botões role */
.btn-role-financeiro {
  background-color: #F0FDF4;
  color: #166534;
}
.btn-role-financeiro:hover {
  background-color: #DCFCE7;
  color: #14532D;
}

.btn-role-venda {
  background-color: #FFF7ED;
  color: #C2410C;
}
.btn-role-venda:hover {
  background-color: #FFEDD5;
  color: #9A3412;
}

.btn-role-user {
  background-color: #EFF6FF;
  color: #1D4ED8;
}
.btn-role-user:hover {
  background-color: #DBEAFE;
  color: #1E40AF;
}

/* TODOS */
.btn-role-todos {
  background-color: #F5F5F4;
  color: #44403C;
}
.btn-role-todos:hover {
  background-color: #E7E5E4;
  color: #292524;
}


/* Table */

table thead tr {
    background-color: #F9FAFB;
    color: #4B5563;
}

table thead tr th {
    padding: 16.5px 24px !important;
    border-bottom: none !important;
    &:last-child {
        text-align: right;
    }
}

tbody, thead, tr {
    border: none;
}

tr {
    border: none;
    border-top: 1px solid #E5E7EB;
}


tr td {
    padding: 16.5px 24px !important;
    font-size: 16px;
    color: #4B5563;
    height: 80px;
}

tr td > div {
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

tr td:last-child > div {
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

tr td .name {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}

.name .user-img {
    padding: 10px 15px;
    background-color: #F3F4F6;
    border-radius: 50%;
    width: fit-content;
}

.status-conta {
    display: flex;
    padding: 2px 10px;
    border-radius: 99px;
    font-weight: 500;
}

.active {
    background-color: #DCFCE7;
    color: #166534;
}

.no-count {
    background-color: #F3F4F6;
    color: #1F2937;
}

.count-number {
    font-weight: 600;
}

.config button {
    color: initial;
    cursor: pointer;
    color: #4B5563;

    &::after{
        display: none;
    }
}

.dropdown-item.delet-count:hover {
    background-color: #FCA5A5 !important;
    color: #991B1B;
}

.dropdown-item.edit-count:hover {
    background-color: #DCFCE7;
    color: #166534;
}

.dropdown-item.block-count:hover {
    background-color: #E5E7EB;
    color: #374151;
}

.dropdown-item.activate-count:hover {
    background-color: #D1FAE5; /* verde claro agradável */
    color: #065F46;             /* verde escuro confiável */
}

.pagination {
    justify-content: flex-end;
}

.pagination .page-item .page-link {
    color: #4B5563;
}

.pagination .page-link:focus {
  outline: none;
  box-shadow: none;
}

.pagination .page-item.active .page-link {
    background-color: #B82627 !important;
    border: none;
    color: white;
    box-shadow: none;
}