main {
    width: 100%;
    min-height: 100%;
    background-color: #FFF4E8;
    padding: 24px 32px;
    padding-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
}

.container-w {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.24);
}

.title-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    color: #942023;
    margin: 0;
    display: flex;
    gap: 7.5px;
    align-items: center;
}

h1 span {
    color: black;
}

h2 {
    font-weight: 600;
    font-size: 18px;
    color: #942023;
    margin: 0;
}

.title-header button {
    width: fit-content;
    margin: 0;
}

.body-filtros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    /* espaço entre os itens */
}

label {
    color: #4B5563;
    font-size: 14px;
}

.status {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.check {
    color: #22C55E;
}

.false {
    color: #C52255;
}

.same-account-users {
    margin-top: 25px;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.user {
    background-color: #F9FAFB;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.24);
}

.body-filtros .buttons-form {
    grid-column: 1 / -1; /* faz ocupar todas as colunas */
    justify-self: end;   /* ou 'start', ou 'center' conforme seu alinhamento */
    display: flex;
    gap: 15px;
}

.button-primary {
    margin: 0;
    white-space: unset;
    width: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.container-table {
    width: 100%;
    overflow-x: auto; /* rolagem horizontal */

}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: #B82627;
    color: white;
}

thead tr th {
    padding: 12px 16px;
}

tbody tr:nth-child(odd) {
  background-color: #FFF4E8; /* Cor para linhas ímpares */
}

tbody tr td {
    padding: 12px 16px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.pay {
    background-color: #DCFCE7;
    color: #166534;
}

.pending {
    background-color: #FEE2E2;
    color: #991B1B;
}

.manesage-table {
    width: 100%;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.pagination {
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .page-item .page-link {
    color: #4B5563;
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}

.pagination .page-item.active .page-link {
    background-color: #B82627 !important;
    border: none;
    color: white;
    box-shadow: none;
}

#qrCodeImage {
    margin: auto;
    margin-bottom: 20px;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.filtros > div:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    main {
        height: auto;
        padding: 12px 16px;
    }
}